<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Config.plist
   Sensefy

   Created by Krishantha Jayathilake  on 6/8/16.
   Copyright (c) 2016 zaizi. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>BASE_URL</key>
        <string>http://sensefyqa.zaizicloud.net:80</string>
        <key>CLIENT_ID</key>
        <string>sensefy</string>
        <key>CLIENT_SECRET</key>
        <string>sensefysecret</string>
    </dict>
</plist>
